transformers
scikit-learn
accelerate
datasets==2.4.0
torch_tensorrt
torchmetrics
torchtext
sentencepiece
transformer_engine
transformer_engine_cu12
wandb
pandas
numpy
numpyencoder
scikit-learn
scipy
GitPython
attrs
async-timeout
aiosignal
aiohappyeyeballs
aiohttp
Unidecode
evaluate

